<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Progression du Stage</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon/favicon.ico">
    <link href="/styles/style.css" rel="stylesheet">
    <script src="https://unpkg.com/i18next@latest/i18next.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/turku.css">
</head>

<body>
<div class="progress-container">
    <h1>Progression du temps de stage</h1>
    <div class="progress-bar">
        <div class="progress">
            <span id="progress-text">0%</span>
        </div>
    </div>
    <div class="dates">
        <div>14 juillet 2024</div>
        <div>16 octobre 2024</div>
    </div>
    <div id="milestones" class="info-box"></div>
    <div id="days-remaining" class="info-box"></div>
    <div id="weeks-remaining" class="info-box"></div>
</div>
<script src="/scripts/turku.js"></script>
</body>

</html>
